

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>通讯录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/template.css" media="all">
</head>
<body>


<div class="layui-fluid layadmin-maillist-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
   <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
     <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
   <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
   <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1383918462,2962143129&fm=26&gp=0.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">网络词库</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>英语四级</strong>
            </h3>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>英语四级词库</strong>
              <br>
              大学英语四级考试，即CET-4，College English Test Band 4的缩写，
              是由国家教育部高等教育司主持的全国性英语考试。
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  </script>
</body>
</html>